<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="./../../styles/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link crossorigin href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css2?family=Handlee&display=swap" rel="stylesheet">
    <title>Adventskalender</title>
</head>
<body style="overflow: hidden;">
<div class="modal-header">
    <h2>
        <img alt="links" class="arrow" id="arrowLeft" src="./../../images/left.png">
        <span id="dayToday"></span>. Dezember
        <img alt="rechts" class="arrow" id="arrowRight" src="./../../images/right.png">
    </h2>
</div>
<div class="iframe-content">
    <div class="gifContainer" id="gifContainer">
        <img alt="Bild konnte nicht geladen werden" class="dayGif" id="dayGif" src="../../images/gifs/1.gif"/>
    </div>
    <div class="storyContainer">
        <p class="storyText" id="storyText">
            Lorem ipsum dolor sit amet, consectetur adip<br>
            Lorem ipsum dolor sit amet, consectetur adip<br>
            Lorem ipsum dolor sit amet, consectetur adip<br>
            Lorem ipsum dolor sit amet, consectetur adip
        </p>
    </div>

</div>
<div class="button-container">
    <a class="spenden-button" href="#">SPENDEN</a>
</div>
</body>
</html>