<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./../../styles/style.css">
    <title>Adventskalender</title>
</head>
<body>
<div class="modalframe">
<h3><span id="dayToday"></span>. Dezember</h3>
    <div class="gifContainer" id="gifContainer">
        <img src="" class="dayGif" id="dayGif" alt="Bild konnte nicht geladen werden"/>
    </div>
<div class="storyContainer">
    <p class="storyText" id="storyText">
    </p>
</div>
    </div>
</body>
</html>